@charset "utf-8";


.name {
    margin-top: 100px;
    height: 300px;
    background-color: #c9a97882;
    text-align: center;
}

.name>div h2 {

    font-family: 'MaruBuriSemiBold';
    font-size: 40px;

    display: inline-block;
    transform: translateY(89%);
}

.name h2 span {
    font-family: 'MaruBuriSemiBold';
    font-size: 22px;
}

.content {
    text-align: center;
}

.content .gnb-box {
    padding: 40px 0;

}

.content .gnb-box::after {
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    background-color: #3E3A39;


    margin: 30px auto 0;
}

.gnb-box .local-gnb {
    display: inline-block;
}

.gnb-box .local-gnb li {
    height: 38px;

}



.content .gnb-box .local-gnb li~li::before {
    content: "/";
    margin: 0 10px;
}


.content .gnb-box .local-gnb li.on {
    font-family: 'MaruBuriSemiBold';
    font-size: 28px;

}


.content .gnb-box .local-gnb li {
    line-height: 38px;
    font-family: 'MaruBuriSemiBold';
    font-size: 20px;

}

.content .gnb-box .local-gnb li a {
    color: #5a5453db;
}
.content .gnb-box .local-gnb li.on a {
    color: #3E3A39;
}

/* 본문 시작 */

.subscribe {
    margin-top: 75px;
}

.sub-intro1 { 
    height: 600px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../img/back-1.jpg);
    background-size: cover;
}

.sub-intro2 {
    height: 600px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../img/back-2.jpg);
    background-size: cover;
}

.sub-intro3 {
    height: 600px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../img/back-3.jpg);
    background-size: cover;
}

.subscribe .sud-txt {
    color: #f8f8f8;
}

.subscribe .sub-intro1 {
    position: relative;
}
.subscribe .sub-intro1 .sud-txt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 33%;
}


.subscribe .sub-intro2 {
    position: relative;
}
.subscribe .sub-intro2 .sud-txt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 33%;
}



.subscribe .sub-intro3 {
    position: relative;
}
.subscribe .sub-intro3 .sud-txt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}


.subscribe .sud-txt h5 {
    font-size: 28px;
    font-family: 'MaruBuriSemiBold';
    margin-bottom: 40px;
}
.subscribe .sud-txt p {
    font-size: 20px;
    font-family: 'MaruBuriExtraLight';
    margin-bottom: 12px;
}


.subscribe::after {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    background-color: #3E3A39;
    margin: 90px auto 0;
}

.event {
    margin-top: 90px;
}
.event .eve-txt {}
.event .eve-txt h5 {
    font-size: 28px;
    font-family: 'MaruBuriSemiBold';
}
.event .eve-txt p {
    margin-top: 32px;
    font-size: 20px;
}

.event .bg-bottom { 
    width: 100%;
    height: 250px;

    margin-top: 50px;
    background-image: url(../img/bg-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;

    position: relative;
}

.event .bg-bottom>ul {
    position:absolute;
    top: 0;
    left: 0;
}
.event .bg-bottom>ul li {
float: left;
width: 21.5%;
}

.event .bg-bottom>ul li~li {
    margin-left: 2%;
}
.event .bg-bottom>ul li:first-child {
    margin-left: 4%;
}

.event .bg-bottom>ul li:last-child {
    margin-right: 4%;
}
.event .bg-bottom>ul li img {
    width: 100%;
    display: block;
}

.event .eve-btn {
    margin-top: 90px;
    margin-bottom: 120px;

    display: inline-block;
}

.event .eve-btn a {
    color: #3E3A39;
    font-size: 16px;
    font-weight: bold;

    padding: 20px 12px;
    background-color: #BEA987;
    border-radius: 5px;
}

.event .eve-btn a:hover {
    background-color: #774C09;
    color: #BEA987;
    border-radius: 5px;
}
